<div id="<%= dom_id goal %>">
  <p>
    <strong>Goal:</strong>
    <%= goal.goal %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= goal.details %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= goal.date %>
  </p>

  <p>
    <strong>Accomplished:</strong>
    <%= goal.accomplished %>
  </p>

</div>
